/* 헤더 작업 시작 */
.header {
	width: 940px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	/* position: relative; 
	left: -40px; */
}
.menu{
	display: inline-block;
	margin: 0; 
	padding: 0;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; /* 넘쳐나는 메뉴 가리기 나중에 white-space 태그랑 연동*/
	width: 930px;
	height: 68px;
	font-size: 0pt;
	position: relative;
	top: 15px;
	z-index: 2;
}
.top2{
	display: inline-block;
	font-size: 8pt;
	color: gray; 
}
/* 네비게이션 목차 */
/* 외부폰트 적용 */
@font-face {
 font-family: "TRWindRegular";
 font-style: normal;
 src: url('./TRWindRegular.woff') format('woff');
}

ul{
	padding: 0px;	/* ul패딩값 0으로 설정 */
}

li {
	/* float: left; */
	display: inline-block;
	list-style:none; /* 목차를 가로로 */
	margin: 0px;
}
li > a{
	display: block; /* 블록처리 */
	width: 114px; 
	height: 50px;
	background: white; 
	color: 	#000000; 
	border: 1px solid #dcdcdc; 
	font-size: 16px; 
	font-family: "TRWindRegular", sans-serif;
	text-align: center;
	text-decoration: none; /* 선으로 텍스트 꾸미는 속성 none는 a태그 밑줄 선을 만들지 않는다 */
}
li > a > span {
	position: relative; /* 위치조정 */
	top: 15px;
}
/* 마우스 오버 했을때 이벤트 */
li > a:hover {
	background: #FFC800; 
	color: white;
	text-decoration: none; /* 밑줄 제거 */
} 
/* 백그라운드 이미지로 가져오기 */
.gear {
	display: inline-block;
	margin: 0 auto;
	background-image: url( "../img/sp_main_4f8ccb.png" );
	background-position: 0% 100%;
	background-size: 2900%;
	overflow: hidden;
	width: 10px;
	height: 10px;
}
/* 등그라미 버튼으로 구현 */
.circle1 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: white;
	z-index: 3; /* 앞으로 보이기 위한 우선순위 값을 줌 */
	border: 1px solid gray;
	border-radius: 50%;
	/* 그림자 줘보기 */
	box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, 0.2);
	position: relative; /* 위치조정 */
	top: 58px;
	left: -685px;
	
}
/* 좌측 동그라미 버튼 위치지정 */
.circle1_sp1 {
	font-size: 25px;
	position: relative;
	top: -5px;
	left: 0px;
}
/* 우측 동그라미 버튼 지정 */
.circle2 {
	display: inline-block;
	position: relative; /* 위치조정 */
	top: -48px;
	left: 455px;
	z-index: 4;
	overflow: hidden; /* 이미지 부분만 나오게 하는 작업 */
	height: 35px; 
	width: 40px;
}
/* 헤더작업 끝 */


/* 컨텐츠 시작 */
.content {
	margin: 0 auto;
	text-align: center;
}
/* 컨텐츠 전체 설정 */
.topstoryall{
	display: inline-block;
	width: 940px;
	border-bottom: 1px solid gray;
	text-align: left;
	margin-top: 20px;
}
/* 상단컨첸츠 시작 */
.left_story {
	display: inline-block;
}
/* 상단 좌우 컨텐츠 스토리설정 */
.left_write, .right_write {
	margin-top: 15px;
	margin-bottom: 15px;
}
/* 상단 좌우 컨텐츠 이미지 위에 시간표시 */
.left_runtime, .right_runtime {
	display: inline-block;
	border: 0.5px solid gray; 
	padding: 3px;
	width: 30px; 
	height: auto; 
	text-align: center;
	font-size: 13px;
	color: white;
	position: relative; 
	left: 395px; 
	top: -60px;
	background-color: black;
	opacity: 0.7;	/* 배경투명도 설정 */
}
/* 상단 좌우 이미지에 화살표 표시 */
.left_arrow, .right_arrow{
	display: inline-block;
	position: relative; /* 위치조정 */
	top: -50px;
	left: -30px;
	overflow: hidden; /* 이미지 부분만 나오게 하는 작업 */
	height: 45px; 
	width: 33px;
}	
.right_story {
	display: inline-block;
	position: relative; /* 위치조정 */
	left: 20px;
}

/* 하단 컨텐츠 시작 */
.botall{
	display: inline-block;
	margin-bottom: 10px;
}
.bot_story{
	margin-top: 15px;
	width: 940px;
	text-align: left;
	
}
.botimg{
	display: inline-block;
	margin: 0 auto;
	padding: 0 auto;
	position: relative; /* 위치조정 */
	top: 10px;
}
.botwrite{
	display: inline-block;
	width: 700px;
	height: auto;
	margin: 10px;
	text-align: left;
	position: relative !important;
	top: -10px;
	left: -5px;
}
/* 특정단위 텍스트 자르기 */
.box{
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 해당 숫자의 허용치를 넘을 시 자른다 */
	-webkit-box-orient: vertical;
	overflow:hidden;
}
/* 컨텐츠 끝 */

